In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import re
from sklearn.ensemble import RandomForestClassifier
import sklearn
import matplotlib.pyplot as plt
import sys
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import f1_score

C:\Users\NB-0242\Anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

In [12]:
feat=[]
for year in range(7,18):
    data=pd.read_csv('c:/users/nb-0242/desktop/PHR/feat'+str(year)+'_100.csv', encoding='cp949',index_col=0)
    feat.append(data)
len(feat)

11

In [34]:
total=[]
for i in range(11):
    
    each_best100 = list(feat[i].iloc[:100,].index)
    total.append(each_best100)
tot = sum(total, [])

uni, cnt = np.unique(tot, return_counts=True)
t = pd.DataFrame(cnt, uni)
t.sort_values(by=0, inplace=True, ascending=False)
t.tail(20)

           0
DJ4_dg     1
DL1_ag     1
DL1_dg     1
DL2_dg     1
DM6_ag     1
EC_pjob_3  1
EC_wht_2   1
EQ5D       1
F_BARLEY   1
F_BEAN     1
F_CRACK    1
F_KCABB    1
MO10_2_1   1
F_MACK     1
F_MILK     1
LS_TYPE1   1
LS_RS      1
F_MUSH     1
F_PORK     1
tins       1

In [50]:
t[t[0] >=7]

            0
HE_wt      11
N_VITC     11
age        11
HE_BMI     11
HE_wc      11
N_FE       11
N_B1       11
N_B2       11
N_CA       11
N_CAROT    11
N_WAT_C    11
N_WATER    11
N_CHO      11
ainc_1     11
N_VA       11
N_RETIN    11
N_DIET     11
N_PROT     11
N_PHOS     11
N_NIAC     11
N_NA       11
N_EN       11
N_FAT      11
N_K        11
ainc       11
N_INTK     11
HE_ht      11
HE_sbp2    11
HE_dbp1    11
HE_dbp2    11
HE_dbp3    11
region     11
HE_sbp     11
HE_sbp1    11
HE_HPdg    11
HE_dbp     11
HE_sbp3    11
DI1_pr     10
DI1_dg     10
D_1_1      10
DI2_ag     10
kstrata    10
EC_lgw_2   10
DI1_ag     10
DI1_2      10
BD2        10
DI2_2       9
DI2_pt      9
DI1_pt      9
O_DMFTP     9
EC_wht_23   8
HE_DMdr     8
educ        8
genertn     8
BP8         8
DI2_pr      8
HE_PLS      7
cfam        7
HE_DMfh3    7
DI2_dg      7

In [40]:
var = list(t.iloc[:100,:].index)

In [43]:
with open('var.csv','w+') as f:
    for each in var:
        f.write(each)
        f.write('\n')